body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

div #nav-parent {
    display: flex;
    justify-content: flex-start;    
}

li {
    margin: 0 0.4rem auto;
}

.links-container li a {
    color: #386387;
    text-decoration: none;
    font-size: 1.5rem;
    height: 0;
    overflow: hidden;
}

nav {
    background: #f1f5f8;
    width: 100vw;
}

.nav-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-header {
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nav-button {
	background-color: inherit;
    border: none;
    color: #49a6e9;
    display: block;
}

.social-icons {
    display: none;
}

.show-container {
    max-height: 15rem;
}

ul {
    display: block;
    list-style-type: none;
}
